<div class="row">
    <div class="col-8 offset-1 pl-5">
        <h5 class="pl-5">Результаты вычислений:</h5>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <ul *ngIf="data | async" class="list-group list-group-flush">
          <li class="list-group-item">число зубьев шестерни Z<span>1</span> = {{Z1}}</li>
          <li class="list-group-item">число зубьев колеса Z<span>2</span> = {{Z2}}</li>
          <li class="list-group-item">внешний окружной модуль Me = {{Me}}</li>
          <li class="list-group-item">межосевой угол передачи &#931; = {{Eg}}&#730;</li>
          <li class="list-group-item grey" *ngIf="Zc && details">число зубьев плоского колеса = {{Zc}}</li>
          <li class="list-group-item">внешнее конусное расстояние Re = {{Re}} мм</li>
          <li class="list-group-item">ширина зубчатого венца b = {{b}} мм</li>
          <li class="list-group-item">угол делительного конуса шестерни &#948;<span>1</span> = {{v1.g}}&#730;{{v1.m}}&#712;</li>
          <li class="list-group-item">угол делительного конуса колеса &#948;<span>2</span> = {{v2.g}}&#730;{{v2.m}}&#712;</li>
          <li class="list-group-item" *ngIf="u">передаточное число u = {{u}}</li>
          <li class="list-group-item" *ngIf="uvb">передаточное число эквивалентной конической передачи (если межосевой угол передачи не равен 90 градусам) u<span>vb</span> = {{uvb}}</li>
          <li class="list-group-item grey" *ngIf="Zvb && details">число зубьев эквивалентной конической шестерни (если межосевой угол передачи не равен 90 градусам) Z<span>vb</span> = {{Zvb}}</li>
          <li class="list-group-item" *ngIf="x1">коэффициент смещения шестерни x<span>1</span> = {{x1}}</li>
          <li class="list-group-item" *ngIf="x2">коэффициент смещения колеса x<span>2</span> = {{x2}}  </li>
          <li class="list-group-item" *ngIf="x1">коэффициент изменения расчётной толщины зуба шестерни (при u >= 2,5) x<span>&#964;1</span> = {{xt1}}</li>
          <li class="list-group-item" *ngIf="x2">коэффициент изменения расчётной толщины зуба колеса (при u >= 2,5) x<span>&#964;2</span> = {{xt2}}</li>
          <li class="list-group-item grey" *ngIf="hae1 && details">внешняя высота головки зуба шестерни h<span>ae1</span> = {{hae1}}</li>
          <li class="list-group-item grey" *ngIf="hae2 && details">внешняя высота головки зуба колеса h<span>ae2</span> = {{hae2}}</li>
          <li class="list-group-item grey" *ngIf="hfe1 && details">внешняя высота ножки зуба шестерни h<span>fe1</span> = {{hfe1}}</li>
          <li class="list-group-item grey" *ngIf="hfe2 && details">внешняя высота ножки зуба колеса h<span>fe2</span> = {{hfe2}}</li>
          <li class="list-group-item grey" *ngIf="he1 && details">внешняяя высота зуба шестерни h<span>e1</span> = {{he1}}</li>
          <li class="list-group-item grey" *ngIf="he2 && details">внешняя высота зуба колеса h<span>e2</span> = {{he2}}</li>
          <li class="list-group-item grey" *ngIf="Se1 && details">внешняя окружная толщина зуба шестерни S<span>e1</span> = {{Se1}}</li>
          <li class="list-group-item grey" *ngIf="Se2 && details">внешняя окружная толина зуба колеса S<span>e2</span> = {{Se2}}</li>
          <li class="list-group-item grey" *ngIf="Qf1 && details">угол ножки зуба шестерни &#920;<span>f1</span> = {{Qf1.g}}&#730;{{Qf1.m}}&#712;</li>
          <li class="list-group-item grey" *ngIf="Qf2 && details">угол ножки зуба колеса &#920;<span>f2</span> = {{Qf2.g}}&#730;{{Qf2.m}}&#712;</li>
          <li class="list-group-item grey" *ngIf="Qa1 && details">угол головки зуба шестерни &#920;<span>a1</span> = {{Qa1.g}}&#730;{{Qa1.m}}&#712;</li>
          <li class="list-group-item grey" *ngIf="Qa2 && details">угол головки зуба колеса &#920;<span>a2</span> = {{Qa2.g}}&#730;{{Qa2.m}}&#712;</li>
          <li class="list-group-item" *ngIf="ba1">угол конуса вершин шестерни &#948;<span>a1</span> = {{ba1.g}}&#730;{{ba1.m}}&#712;</li>
          <li class="list-group-item" *ngIf="ba1">угол конуса вершин колеса &#948;<span>a2</span> = {{ba2.g}}&#730;{{ba2.m}}&#712;</li>
          <li class="list-group-item" *ngIf="ba1">угол конуса впадин шестерни &#948;<span>f1</span> = {{bf1.g}}&#730;{{bf1.m}}&#712;</li>
          <li class="list-group-item" *ngIf="ba1">угол конуса впадин колеса &#948;<span>f2</span> = {{bf2.g}}&#730;{{bf2.m}}&#712;</li>
          <li class="list-group-item grey" *ngIf="de1 && details">внешний делительный диаметр шестерни d<span>e1</span> = {{de1}}</li>
          <li class="list-group-item grey" *ngIf="de2 && details">внешний делительный диаметр колеса d<span>e2</span> = {{de2}}</li>
          <li class="list-group-item" *ngIf="dae1">внешний диаметр вершин зубьев шестерни d<span>ae1</span> = {{dae1}} мм</li>
          <li class="list-group-item" *ngIf="dae2">внешний диаметр вершин зубьев колеса d<span>ae2</span> = {{dae2}} мм</li>
          <li class="list-group-item" *ngIf="B1">расстояние от вершины до плоскости внешней окружности вершин зубьев шестерни B<span>1</span> = {{B1}} мм</li>
          <li class="list-group-item" *ngIf="B2">расстояние от вершины до плоскости внешней окружности вершин зубьев колеса B<span>2</span> = {{B2}} мм</li>
          <li class="list-group-item grey" *ngIf="we1 && details">половина внешней угловой толщины зуба шестерни &#936;<span>e1</span> = {{we1}}</li>
          <li class="list-group-item grey" *ngIf="we2 && details">половина внешней угловой толщины зуба колеса &#936;<span>e2</span> = {{we2}}</li>
          <li class="list-group-item" *ngIf="se1">внешняя делительная толщина зуба шестерни по хорде S`<span>e1</span> = {{se1}} мм</li>
          <li class="list-group-item" *ngIf="Hae1">высота до внешней делительной хорды зуба шестерни h`<span>ae1</span> = {{Hae1}} мм</li>
          <li class="list-group-item" *ngIf="se2">внешняя делительная толщина зуба колеса по хорде S`<span>e2</span> = {{se2}} мм (при x<span>1</span> &#60;&#61; 0,4 )</li>
          <li class="list-group-item" *ngIf="dye2">диаметр концентрической окружности d<span>ye2</span> = {{dye2}} мм</li>
          <li class="list-group-item" *ngIf="Sye2">внешняя делительная толщина зуба колеса по хорде на концентрической окружности S`<span>ye2</span> = {{Sye2}} мм (при x<span>1</span> &#62; 0,4 )</li>
        </ul>
    </div>
</div>

<div *ngIf="!invisible" class="row select">
    <div class="col my-3">
      В зависимости от заданного числа зубьев шестерни Z<span>1</span> и рассчитанного передаточного числа u выберите из таблицы соответствующее им значение коэффициента смещения Х. Для этого необходимо щёлкнуть мышкой по выбранному значению.
    </div>
  <div class="col-11 offset-1 my-3">
      <h6>Таблица коэффициентов смещения Х<span>1</span>, если &#931; &#8800; 90&#730; (передача неортогональная) вместо Z<span>1</span> и u использовать Z<span>vb</span> и u<span>vb</span></h6>
  </div>
  <div class="col-10 offset-1">
      <table>
          <tr>
            <td rowspan="2">Число зубьев шестерни Z<span>1</span>(Z<span>vh</span>)</td>
            <td colspan="12"
          >Значения коэффициентов смещения Х<span>1</span> при числе передачи u(u<span>vb</span>)</td>
          </tr>
          <tr>  
            <td>1.00</td>
            <td>1.12</td>
            <td>1.25</td>
            <td>1.4</td>
            <td>1.6</td>
            <td>1.8</td>
            <td>2.0</td>
            <td>2.5</td>
            <td>3.15</td>
            <td>4.0</td>
            <td>5.0</td>
            <td>6.3 и выше</td>
          </tr>
          <tr *ngFor="let arr of arrays">
            <td *ngFor="let item of arr" (click)="selectX1(item)">{{item}}</td>
          </tr>
        </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col text-center">
      <button class="btn" (click)="showDetails()">Показать промежуточные результаты</button>
  </div>
  <div class="col text-center">
      <button class="btn" (click)="goToForm()">Выполнить новый расчёт</button>
  </div>
</div>
