h5 {
    color: #a3b4bd;
}

li {
    list-style-type: none;
}

span {
    font-size: 8px;
}

.select {
    max-width: 90%;
    margin: 0 auto;
}

.select .col {
    color: #31b9dc;
}

table {
    border-spacing: 0;
}

td, th {
    vertical-align: top;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    padding: 4px 8px;
    cursor: pointer;
}
 
td[rowspan] {
    border-bottom: 1px solid black;
}

tr:last-child td, tr:first-child td:first-child {
    border-bottom: 1px solid black;
}

td:last-child, th:last-child {
    border-right: 1px solid black;
}

.btn {
    background-color:  #82d5ee;
    color: #fff;
}

.grey {
  color:  #a3b4bd;
}
