<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Добро пожаловать в приложение "Расчёты"!
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>
        Передачи зубчатые конические с прямыми зубьями. Расчёт геометрии согласно ГОСТ 19624-74.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="navbar" role="navigation">
        <a class="btn" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Форма</a>
        <a class="btn" routerLink="./calculation" routerLinkActive="active">Расчёты</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
